.advantages__title {
    color: var(--accent-color);
    margin-bottom: 60px;
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 30px;

   
}

.advantages__item {
    width: 30%;

    @media screen and (max-width: 767px) {
         width: 100%;
        }
}

.advantages__name {
    font-family: var(--title-font-family);
    color: var(--main-text-color);
    font-size: 18px;
        line-height: 1.25;
        text-transform: uppercase;
        margin-bottom: 5px;
}

.advantages__description {
    color: var(--grey-text-color);
    font-size: 14px;
        line-height: 1.25;
}

.advantages__icon {
margin-bottom: 30px;
}