.reviews__title {
    color: var(--accent-color);
    margin-bottom: 60px;
}

.reviews__list {
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (max-width: 767px) {
          
            gap: 50px 0;
        }
    
}

.reviews__item {
    @media screen and (max-width: 767px) {
            width: 50%;
        }
  
}

.rewiews__link {
    flex-flow: column;
        display: flex;
            align-items: center;
}

.reviews__logo {
    margin-bottom: 10px;
}