* {
  padding: 0;
  margin: 0;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: var(--accent-color);
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

body {
  background-color: var(--primary-background-color);
}

section {
  padding: 80px 0 60px;
}

:root {
  --primary-background-color: #ffffff;
  --main-text-color: #000000;
  --white-text-color: #ffffff;
  --grey-text-color: #6c6c6c;
  --accent-color: #4aa7f0;
  --button-animation: color 0.5s ease, background-color 0.5s ease, border 0.5s ease;
  --title-font-family: "Black Han Sans", sans-serif;
}

.container {
  max-width: 1251px;
  padding: 0 30px;
  margin: 0 auto;
}

.section-title {
  text-transform: uppercase;
  font-size: 40px;
  font-family: var(--title-font-family);
  font-weight: 400;

  @media screen and (max-width: 565px) {
  
      font-size: 22px;
    }
}

.button--white {
  /* font-family: "Rajdhani"; */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  white-space: nowrap;

  background-color: var(--primary-background-color);
  color: var(--accent-color);
  padding: 20px;
  border: 1px solid white;
  transition: var(--button-animation);
}

.button--white:hover {
  color: var(--white-text-color);
  background-color: transparent;
}

.button--blue {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  white-space: nowrap;

  background-color: var(--accent-color);
  color: var(--primary-background-color);
  padding: 20px;
  border: 1px solid white;
  transition: var(--button-animation);
}

.button--blue:hover {
  background-color: #2890e2;
}

.button--mr {
  margin-right: 20px;
}


.button--mb {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}